# Windows Phone ignores
[Bb]in/
[Oo]bj/
*.user
*.suo
*.pdb
*.cache
*.docstates
_ReSharper.*
*.aps
*.ncb
*.opensdf
*.sdf
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
*.vspscc
*.vssscc
*.sln.docstates
packages/
*.DotSettings
*.Backup.*
[Tt]humbs.db
*.log
*.bak
*.msi
*.nupkg
*.orig
*.scc
*.[Cc]ache
*.ilk
*.meta
*.res
*.sbr
*.pyc
*.class
*.dll
*.exe
*.manifest
*.pch
*.idb
*.lib
*.sln.cache
*.swp
*.tlog/
*.vsp
*.psess
*.VC.db
*.VC.VC.opendb
*.db